figure
{
    max-width:650px ;
    /*overflow: hidden;*/
    margin: 0 auto;
    img
    {
        width: 100%;
    }
}

header, footer, main
{
    width: 90vw;
    margin: 0 auto;

}

#tetlist
{
    display: flex;
    flex-flow: row wrap;
}

.tet
{
    flex: 0 0 450px;
}